consensus-data
execution-data
validator-keys
el-cl-genesis-data
*.sqlite
api-token.txt
logs
.secp-sk
geth
*.sqlite-journal
allocs.json

validator_keys_*

node_modules
nohup.out
package-lock.json
pendingTransactions.json